
* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background:url(images/fond.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#wrapper {
	/* Center wrapper perfectly */
	width: 300px;
	height: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	
	margin-left: -150px;
	margin-top: -200px;
	
}


/*******************
LOGIN FORM
*******************/

.login {
	width: 300px;
	margin: 20px 20px 20px 40px;
	position: relative;
	z-index:5;
	height:500px;
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
ol{
	margin:20px 20px 20px 20px;
}
ol li{
	margin:20px 20px 20px 20px;
	decoration:none;
}
li a{
	text-decoration:none;
	color:black;
}