@CHARSET "UTF-8";
* { box-sizing: border-box; }
body {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color:white;
  font-size:12px;
  background:#333;
}
#fondo{
	background:#e6e6e6;
	width:800px;
	margin:auto auto 100px auto;
	padding-bottom:80px;
}
form {
  background:#111; 
  width:300px;
  margin:30px auto;
  border-radius:0.4em;
  border:1px solid #191919;
  overflow:hidden;
  position:relative;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}
.navbar{
	margin-left:10px;
	margin-top:10px;
}
.navbar li{
	list-style-type: none;
}
.cuadro{
	background:#111; 
  width:600px;
  margin:30px auto;
  border-radius:0.4em;
  border:1px solid #191919;
  overflow:hidden;
  position:relative;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}
.Table  {  
	display: table;
	margin: 30px auto; 
}   
.Title{  
  display: table-caption;  
  text-align: center;  
  font-weight: bold;  
  font-size: larger;  
}  
  
.Heading{  
	display: table-row;  
	font-weight: bold;  
	text-align: center;  
}  
.Row {  
	display: table-row;  
}  
.Cell{   
  display: table-cell;    
  border: solid;  
  border-width: thin;  
  padding-left: 5px;  
  padding-right: 5px;  
}
form h1 {
  font-size:18px;
  text-shadow:0 1px 0 black;
  text-align:center;
  padding:15px 0;
  border-bottom:1px solid rgba(0,0,0,1);
  position:relative;
}
form h1:after {
 	content:"";
  display:block;
  width:250px;
  height:100px;
  position:absolute;
  top:0;
  left:50px;
  pointer-events:none;
  transform:rotate(70deg);
  background:linear-gradient(50deg, rgba(255,255,255,0.15), rgba(0,0,0,0));
  
}
form:before {
 	content:"";
  display:block;
  position:absolute;
  width:8px;
  height:5px;
  border-radius:50%;
  left:34%;
  top:-7px;
  box-shadow: 0 0 6px 4px #fff;
}
.inset {
 	padding:20px; 
  border-top:1px solid #19191a;
}
input[type=checkbox] {
 	display:inline-block;
  vertical-align:top;
}
label {
 	color:white;
  display:block;
  padding-bottom:9px;
}

input[type=text],
input[type=password] {
 	width:100%;
  padding:8px 5px;
  background:white;
  border:1px solid #222;
  box-shadow:
    0 1px 0 rgba(255,255,255,0.1);
  border-radius:0.3em;
  margin-bottom:20px;
}
input[type=submit] {
 	padding:5px 20px;
  border:1px solid rgba(0,0,0,0.4);
  text-shadow:0 -1px 0 rgba(0,0,0,0.4);
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 10px 10px rgba(255,255,255,0.1);
  border-radius:0.3em;
  background:#0184ff;
  color:white;
  float:right;
  font-weight:bold;
  cursor:pointer;
  font-size:13px;
}

input[type=submit]:hover {
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.3),
    inset 0 -10px 10px rgba(255,255,255,0.1);
}
.p-container {
 	padding:0 20px 20px 20px; 
}
.p-container span,a {
  display:block;
  float:left;
  color:#0d93ff;
  text-decoration: none;
}
