@CHARSET "UTF-8";
/* Propiedades globales no tocar no modificar -_-' ======================================================== */
body,html,u, ul{
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
    vertical-align: top; }

html {
	width:100%;
}
body {
	font-family:cursive , Helvetica, sans-serif;
	font-size:100%;
	color:#4c4c4c;
	min-width:980px;
	background:#eee;
}
.main {
	width:980px; 	
	padding:0;
	margin:0 auto;
	font-size:0.875em;
	line-height:1.714em;
	position:relative;
}
.Relleno {
	width:100%; 
	overflow:hidden; 
	position:relative;
}
.menu li a,
.pagination li a,
h1 a {text-decoration:none;}	

/********************************Encabezado*************************************/

.Menu-top {
	width:100%;
	padding:30px 0 25px 0;
	background:url(../images/header-tail.png) center top repeat;
}
.menu-barra {
	width:100%;
	padding:0;
	border-bottom:1px solid #fff;
	background:url(../images/menu-row-tail.gif) center top repeat-x #e6e6e6;
	font-size: 100%;
    vertical-align: top;
    border-collapse:collapse;
}
.menu-borde {
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	
}

h1 {
	padding:0 0 0 40px; 
	float:left;
}
	h1 a {
		display:block; 
		width:319px;
		height:110px;
		text-indent:-6000px;
		background:url(../images/logo.png) 0 0 no-repeat;
	}
	
/***** menu *****/
.menu {
	width:100%;
	min-height:58px;
	overflow:hidden;
	background:url(../images/menu-spacer.gif) left top no-repeat;
}
.menu li {
	float:left; 
	position:relative;
	background:url(../images/menu-spacer.gif) right top no-repeat;
}
.menu li a {
	display:block; 
	font-family:  cursive ;
	font-size:20px; 
	line-height:2.5em; 
	letter-spacing:-1px;
	padding:5px 44px 4px 40px; 
	color:#000; 
}
.menu > li:first-child > a {padding:5px 44px 4px 45px;}
.menu li.last a {padding:5px 47px 4px 40px;}
.menu li a.active,
.menu li a:hover {color:#0E88B5;}

/*****BG-slider*****/

.pagination { 
	float:right; 
	padding:14px 40px 0 0;
}
	.pagination li { 
		float:left;
		padding-left:5px;
	}
		.pagination li a { 
			font-family:"Times New Roman", Times, serif;
			font-style:italic;
			font-weight:bold;
			display:block; 
			background:url(../images/bg-slider-pagination.png) right top no-repeat;
			width:35px; 
			height:35px;
			font-size:26px;
			line-height:1.2em;
			text-align:center;
			color:#000;
		}
		.pagination a:hover, 
		.pagination .current a {background-position:left top; color:#fff;}
.top-text {
	display:block;
	font-family: cursive , serif;
	font-size:19px;
	line-height:2em;
	font-weight:400;
	color:#fff;
	float:right;
	margin-right:4px;
	padding-top:12px;
}
		
ol, ul {
	list-style: none;
}
/******************************Contenido*********************************/
.main-c {
    font-size: 0.875em;
    line-height: 1.714em;
    margin: 10px auto;
    padding: 0;
    position: relative;
    width: 980px;
    height:800px;
}
#contenido {
    background: rgba(0, 0, 0, 0) url("../images/content-tail.png") repeat scroll left top;
    padding: 30px 0 43px;
    position: relative;
    width: 100%;
    z-index: 1;
    height:800px;
}
/******************************slider**********************************/
#slider1_container{
	position: relative; 
	top: 0px; 
	left: 20px; 
	width: 600px;
    height: 300px; 
    float:left;
    
}
.jssora03l, .jssora03r {
    display: block;
    position: absolute;
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url(images/a03.png) no-repeat;
    overflow: hidden;
 }
 .jssora03l { 
 	background-position: -3px -33px; 
 	top: 123px; 
 	left: 8px;
 }
 .jssora03r { 
 	background-position: -63px -33px; 
 	top: 140px; 
 	right: 8px;
 }
 .jssora03l:hover { 
 	background-position: -123px -33px; 
 }
 .jssora03r:hover { 
 	background-position: -183px -33px; 
 }
 .jssora03l.jssora03ldn { 
 	background-position: -243px -33px; 
 }
 .jssora03r.jssora03rdn { 
 	background-position: -303px -33px; 
 }
 #derecha{
 	float:right;
 	
 	height:300px;
 	width:300px;
 	margin: -4px 30px 0px 10px;
 }

 #contenido2{
 height:300px;
 width:940px;
 margin:350px 20px 10px 20px;
 
 }
 #contenido2 h3{
 	font-family: serif; 
 	font-size:30px;
 	color:black;
 	
 	
	height:50px;
	margin:50px 0px 0px 300px;
	
 }
 #izquierda{
 height:300px;
 width:300px;
 float:left;
 margin:0px 100px 0px 100px;
 }
 #medio{
 height:300px;
 width:300px;
 float:left;
  margin:0px 15px 0px 0px;
 }

 #hotel{
 display:block;
 border-radius: 120px;
 margin:10px 0px 0px 30px;
   
 }
 #izquierda h2{
 padding: 20px 0px 0px 0px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.00em;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	color: #0074C6;
 }
  #izquierda p{
	text-align: center;
}
 #em{
 display:block;
 border-radius: 120px;
 margin:10px 0px 0px 30px;
   
 }
 #medio h2{
 padding: 0px 0px 0px 0px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.00em;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	color: #0074C6;
 }