
@CHARSET "UTF-8";
/* Propiedades globales no tocar no modificar -_-' ======================================================== */
body,html,u, ul{
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
    vertical-align: top; }

html {
	width:100%;
}
body {
	font-family:cursive , Helvetica, sans-serif;
	font-size:100%;
	color:#4c4c4c;
	min-width:980px;
	background:#eee;
}
.main {
	width:980px; 	
	padding:0;
	margin:0 auto;
	font-size:0.875em;
	line-height:1.714em;
	position:relative;
}
.Relleno {
	width:100%; 
	overflow:hidden; 
	position:relative;
}
.menu li a,
.pagination li a,
h1 a {text-decoration:none;}	

/********************************Encabezado*************************************/

.Menu-top {
	width:100%;
	padding:30px 0 25px 0;
	background:url(../images/header-tail.png) center top repeat;
}
.menu-barra {
	width:100%;
	padding:0;
	border-bottom:1px solid #fff;
	background:url(../images/menu-row-tail.gif) center top repeat-x #e6e6e6;
	font-size: 100%;
    vertical-align: top;
    border-collapse:collapse;
}
.menu-borde {
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	
}

h1 {
	padding:0 0 0 40px; 
	float:left;
}
	h1 a {
		display:block; 
		width:319px;
		height:110px;
		text-indent:-6000px;
		background:url(../images/logo.png) 0 0 no-repeat;
	}
	
/***** menu *****/
.menu {
	width:100%;
	min-height:58px;
	overflow:hidden;
	background:url(../images/menu-spacer.gif) left top no-repeat;
}
.menu li {
	float:left; 
	position:relative;
	background:url(../images/menu-spacer.gif) right top no-repeat;
}
.menu li a {
	display:block; 
	font-family:  cursive ;
	font-size:20px; 
	line-height:2.5em; 
	letter-spacing:-1px;
	padding:5px 44px 4px 40px; 
	color:#000; 
}
.menu > li:first-child > a {padding:5px 44px 4px 45px;}
.menu li.last a {padding:5px 47px 4px 40px;}
.menu li a.active,
.menu li a:hover {color:#0E88B5;}

/*****BG-slider*****/

.pagination { 
	float:right; 
	padding:14px 40px 0 0;
}
	.pagination li { 
		float:left;
		padding-left:5px;
	}
		.pagination li a { 
			font-family:"Times New Roman", Times, serif;
			font-style:italic;
			font-weight:bold;
			display:block; 
			background:url(../images/bg-slider-pagination.png) right top no-repeat;
			width:35px; 
			height:35px;
			font-size:26px;
			line-height:1.2em;
			text-align:center;
			color:#000;
		}
		.pagination a:hover, 
		.pagination .current a {background-position:left top; color:#fff;}
.top-text {
	display:block;
	font-family: cursive , serif;
	font-size:19px;
	line-height:2em;
	font-weight:400;
	color:#fff;
	float:right;
	margin-right:4px;
	padding-top:12px;
}
		
ol, ul {
	list-style: none;
}
/******************************Contenido*********************************/
.main-c {
    font-size: 0.875em;
    line-height: 1.714em;
    margin: 10px auto;
    padding: 0;
    position: relative;
    width: 980px;
    height:200px;
}
#contenido {
    background: rgba(0, 0, 0, 0) url("../images/content-tail.png") repeat scroll left top;
    padding: 30px 0 43px;
    position: relative;
    width: 100%;
    z-index: 1;
    height:300px;
}
#saludo {
    /* Size and position */
    width: 540px;
    margin: 60px auto 30px;
    padding: 15px;
    position: relative;
	height:70px;
    /* Styles */
    background: #ffffff;
    border-radius: 4px;
    color: #7e7975;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(153,204,255,0.2); 
}
#saludo p{
margin :20px 20px 20px 90px;	
}
#imagen{
	margin:-90px 0px 0px 600px;
	position:relative;
}
#contenido #boton{
	margin:-100px 0px 0px 200px;
	background:#f4f4f4; 
	font-size:14px; 
	line-height:18px; 
	color:#01a5ca;  
	display:inline-block; 
	padding:12px 28px 13px 28px;
	text-decoration:none;
	font-family:cursive;
}
#contenido #boton:hover{
	background:#d3d1d1; 
	color:#333; 
}


